body{
    background-color: black;
    color: #FFFF00;
}


/* ------------------ BODY ------------------ */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.offcanvas{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.153);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #FFFF00;
}

/* ------------------ FOOTER ------------------ */
#footer span{
    font-size: x-small;
}

#footer span a{
    text-decoration: none;
    color: #FFFF00;
}

/* ------------------ APARICION DE IMAGENES ------------------ */

.puff-in-center {
    -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}

/* ------------------ ANIMACION DE FONDO ------------------ */

.colorGanador {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #1919a6;
    }
}
@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
    background: #1919a6;
    }
}
