<?xml version='1.0' encoding='utf-8'?>
<widget id="com.LowdevicesDevs.LaVieja" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LaVieja</name>
    <description>La vieja clásica, ahora en tu móvil. ¡Desafía a tus amigos y demuestra quién es el mejor jugador de tres en raya!</description>
    <author email="josmardiaz92@gmail.com" href="">
        Lowdevices.Dev's
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
